<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beach Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
  <a href="/"><h1 id="welcome-banner">Beach Blog</h1></a>
</header>

 <nav>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    <a href="/">Home</a>
    <a href="/new">Add Post</a>
    <a href="/view-posts">View Posts</a>
  </nav>
<body>

{{{ body }}}
</main>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
<script src="/javascript/login.js"></script>
</body>
</html>