<div class="card">
    <h3 class="card-header" >Login</h3>
    <form id="login-form" class="card-body">
        <label class="form-label" for="username-login" >Username</label>
        <input  id="username-login" type="text" autofocus="true" class="form-input" />
        <br>
        <br>
        <label class="form-label" for="password-login" >Password</label>
        <input id="password-login" type="password"  autofocus="true" class="form-input" />
        <br>
        <br>
      <button id="login-button" type="submit" class="btn">Login</button>
      <br>
    </form>
      <br>
      <br>
    <h2 id="create-prompt">Don't have an account? Sign up below!</h2>
    <br>
  <form class="signup-form">
    <div>
      <label for="username-signup" >Please Create a Username:</label>
      <input type="text" id="username-signup" class="form-input"/>
    </div>
    <div>
      <label class="form-label" for="password-signup">Please Create a Password:</label>
      <input type="password" id="password-signup" class="form-input"/>
    </div>
    <div>
      <button type="submit" class="btn">Click here to sign up!</button>
  </div>
    </form>
</div>

<script src="/javascript/login.js"></script>