{{!-- Need to revise so only see posts you authored/ add an if statement???--}}
{{#if loggedIn}}
{{#if posts.length}}
{{#each posts as |post|}}
<article id="all-cards" class="column is-3">
  <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="/images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg" alt="Placeholder image" class="card-image">
      {{!-- <img src="{{imageurl}}" alt="Beach image" class="card-image"> --}}
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
  
      <div class="media-content">
    {{> post-info post }}
    <a href="/edit/{{post.id}}" class="edit-link">Edit post</a>
      </div>
    </div>
</div>
</article>
{{/each}}
{{/if}}
{{/if}}